/* 
    ==============
    = Containers =
    ==============
*/

body {
    font: 15px "Lucida Console", Monaco, monospace;
    padding:0;
    margin: 0px;
    background-color:#f8f9fa;
    line-height: 1.5em;
    color: #1e2530;
}

.container {
    width: 60%;
    margin: auto;
}

@media only screen and (max-width: 1400px) {
    .container {
        width: 90%;
    }
} 

.card {
    border-radius: 8px;
    background: #ffffff;
    padding: 1.5em 2em 1.5em 2em;
    box-shadow: 0 0 0.2rem rgba(0,0,0,0.15) !important;
}

.card-dropdown {
    box-shadow: 0 0 0.2rem rgba(0,0,1,1) !important;
}

/* 
    ==================
    = Layout classes =
    ==================
*/

.inline {
    display: flex;
    align-items: center;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
}

.stacks {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid * {
    min-width: 0;
}

@media only screen and (max-width: 600px) {
    .boxes {
        flex-direction: column;
    }
}

/* 
    ==========================
    = Layout class modifiers =
    ==========================
*/

.gap-none {
    gap: 0em;
}

.gap-0_5em {
    gap: 0.5em;
}

.gap-1em {
    gap: 1em;
}

.gap-2em {
    gap: 2em;
}

.striped *:nth-child(odd) {
    background-color: #44495124;
}

.striped * *:nth-child(odd) {
    background-color: initial;
}

.rounded * {
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    .gap-none-mobile {
        gap: 0em;
    }

    .gap-0_5em-mobile {
        gap: 0.5em;
    }
    
    .gap-1em-mobile {
        gap: 1em;
    }

    .gap-2em-mobile {
        gap: 2em;
    }
}

/*  
    ================================
    = Layout class child modifiers =
    ================================
*/

.inline-expand {
    flex-grow: 1;
}

.boxes-right {
    margin-left: auto;
}

@media only screen and (max-width: 600px) {
    .boxes-right {
        margin-left: 0;
    }
}

/*
    ========================
    = Layout class padders =
    ========================
*/

.pad-hor-0_5em {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.pad-hor-1em {
    padding-left: 1em;
    padding-right: 1em;
}

.pad-hor-2em {
    padding-left: 2em;
    padding-right: 2em;
}

.pad-vert-0_5em {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.pad-vert-1em {
    padding-top: 1em;
    padding-bottom: 1em;
}

.pad-vert-2em {
    padding-top: 2em;
    padding-bottom: 2em;
}

@media only screen and (max-width: 600px) {
    .pad-vert-0_5em-mobile {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}

/*
    ================
    = Text classes =
    ================
*/

h1 {
    font-size: 2.3em;
    line-height: initial;
}

.txt-rm-link-decoration {
    text-decoration: none;
    color: #000000;
}

.txt-gray {
    color: #212529;
}

.txt-clip {
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:80%;
    display:inline-block;
}

.txt-clip-rtl {
    direction: rtl;
    text-align: left;
}

.txt-right-align {
    text-align: right;
}

.txt-bold {
    font-weight: bold;
}

.card-title *,
.card-title {
    margin-top: 0;
    padding-top: 0;
    font-size: 1.3em;
    font-weight: bold;
}

.card-subtitle {
    font-size: 1.3em;
}

/*
    ================================
    = Miscellaneous helper classes =
    ================================
*/

.padding {
    padding:2em;
}

.chart {
    width: 100%;
    height: 10rem;
}

.disable-usr-select * {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;  
}

.selectable:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.selectable:focus {
    filter: brightness(85%);
}

.icon {
    height: 24px;
    width: 24px;
}

/* 
    =============================
    = Button and dropdown class =
    =============================
*/

.button-black,
.button {
	background-color: #44495124;
	border: none;
	padding: 1em;
	text-decoration: none;
	overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}

.button-black {
    background-color: #1e2530;
    color: white;    
}

.button:hover {
    background-color: #4449513d;
}

.button:active {
    background-color: #4449514d;
}

.button-black:hover {
    background-color: #161b24;
}

.button-black:active {
    background-color: #10151e;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content-rtl {
    right: 100%;
    margin-right: -100%;
}
  
.dropdown-show {
    display: block;
}

/* 
    =================
    = Slider switch =
    =================
*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #44495124;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #1e2530;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/*
    ===============
    = Input field =
    ===============
*/

input[type=text], select {
    border: 2px solid #44495124;
    background-color: #cccccc24;
    padding: 1em 1em;
    border-radius: 8px;
    box-sizing: border-box;
    font: 15px "Lucida Console", Monaco, monospace;
}
  
input[type=text]:focus {
    border: 2px solid #1e2530;
}

/*
    ==========================
    = Nav bar helper classes =
    ==========================
*/

#navigation-bar {
    background: #1e2530;
    box-shadow: 0px 0px 20px darkgray;
    position: sticky;
    top: 0;
    width: 100%;
}

.navigation-bar-title {
    color: white;
    text-decoration: none;
    padding: 1em;
}

.navigation-button {
    color: white;
    text-decoration: none;
    padding: 1em;
    font-weight:bold;
}

.navigation-button:hover {
    color: #dbdbdb;
}

#toggle-nav,
.navigation-hamburger {
    display: none;
}

@media only screen and (max-width: 600px) {
    .navigation-menu {
        display: none;
    }

    .navigation-hamburger {
        display: block;
        margin-left: auto;
        cursor: pointer;
        padding: 1em;
    }

    #toggle-nav:checked ~ .navigation-menu {
        display: flex;
        align-items: center;
    }
} 