<!DOCTYPE html>
<html>
    <head>
        <title>WebSysMon</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div class="navigation-bar">
            <div class="contentdiv inline-center">
                <img src="/static/symbols/activity-white.svg">
                <a class="navigation-bar-title pad-left" href="{{ url_for('infopage') }}"><b>WebSysMon</b></a>
                <a class="navigation-button pad-left" href="{{ url_for('infopage') }}">Info</a>
                <a class="navigation-button pad-left" href="{{ url_for('monitorpage') }}">Monitor</a>
                <a class="navigation-button pad-left" href="{{ url_for('filespage') }}">Files</a>
            </div>
        </div>
        {% block body %}
        {% endblock %}
        {% block scripts %}
        {% endblock %}    
    </body>
</html>