{% extends "base.html" %}

{% block scripts %}
    <script src="{{ url_for('static', filename='getjson.js') }}"></script>
    <script src="{{ url_for('static', filename='updateinfo.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container">    
        <h2>System Information</h2>

        <div class="grid gap-2em gap-1em-mobile">
            <div class="card">
                <p class="card-title">Processor</p>
                <span id="processor"></span>
            </div>
            <div class="card">
                <p class="card-title">Cores</p>
                <span id="core_count"></span>
            </div>
            <div class="card">
                <p class="card-title">Architecture</p>
                <span id="architecture"></span>
            </div>
            <div class="card">
                <p class="card-title">Memory</p>
                <span id="memory"></span>
            </div>
            <div class="card">
                <p class="card-title">OS</p>
                <span id="operating_sys"></span>
            </div>
            <div class="card">
                <p class="card-title">Uptime</p>
                <span id="uptime"></span>
            </div>
        </div>
        
        <h2>Disk Information</h2>
    
        <div class="grid gap-2em gap-1em-mobile" id="disk-table">

        </div>

        <template id="disk-item">
            <div class="card">
                <p class="card-title"></p>
                Mountpoint:
                <span><!-- mountpoint --></span><br>
                File system: 
                <span><!-- filesystem --></span><br>
                Size:
                <span><!-- size --></span><br>
                Available space: 
                <span><!-- free_space --></span>
            </div>         
        </template>

        <span class="padding"></span>

    </div>
{% endblock %}