{% extends "base.html" %}

{% block scripts %}
    <script src="static/js/getjson.js"></script>
    <script src="static/js/updateinfo.js"></script>
{% endblock %}

{% block body %}
    <div class="container stacks gap-2em pad-vert-1em">    
        
        <div>
            <h1>System Information</h1>

            <div class="grid gap-2em gap-1em-mobile">
                <div class="card stacks gap-1em">
                    <span class="card-title">Processor</span>
                    <span id="processor"></span>
                </div>
                <div class="card stacks gap-1em">
                    <span class="card-title">Cores</span>
                    <span id="core_count"></span>
                </div>
                <div class="card stacks gap-1em">
                    <span class="card-title">Architecture</span>
                    <span id="architecture"></span>
                </div>
                <div class="card stacks gap-1em">
                    <span class="card-title">Memory</span>
                    <span id="memory"></span>
                </div>
                <div class="card stacks gap-1em">
                    <span class="card-title">OS</span>
                    <span id="operating_sys"></span>
                </div>
                <div class="card stacks gap-1em">
                    <span class="card-title">Uptime</span>
                    <span id="uptime"></span>
                </div>
            </div>
        </div>
        
        <div>
            <h1>Disk Information</h1>
    
            <div class="grid gap-2em gap-1em-mobile" id="disk-table">
    
            </div>
        </div>
        


        <template id="disk-item">
            
            <div class="card stacks gap-1em">
                <span id="dsk" class="card-title"></span>
                <div class="stacks striped rounded">
                    <div class="inline pad-hor-0_5em">
                        <span class="inline-expand">Mountpoint</span>
                        <span id="mtpt"><!-- mountpoint --></span>
                    </div>
                    <div class="inline pad-hor-0_5em">
                        <span class="inline-expand">File system</span> 
                        <span id="fs"><!-- filesystem --></span>
                    </div>
                    <div class="inline pad-hor-0_5em">
                        <span class="inline-expand">Size</span>
                        <span id="size"><!-- size --></span>
                    </div>
                    <div class="inline pad-hor-0_5em">
                        <span class="inline-expand">Available space</span> 
                        <span id="free"><!-- free_space --></span>
                    </div>
                </div>
            </div>         
        </template>

    </div>
{% endblock %}