{% extends "base.html" %}

{% block scripts %}
    <script src="static/js/getjson.js"></script>
    <script src="static/js/ls.js"></script>
{% endblock %}

{% block body %}

    <div class="container pad-vert-1em">
        
        <div class="inline gap-1em">
            <button class="button" id="back-button">
                <img src="/static/symbols/arrow-left.svg">
            </button>
            
            <h3 id="path" class="inline-expand txt-clip txt-clip-rtl"></h3>
            
            <button class="button" id="toggle-hidden-button">
                <img id="toggle-hidden-button-icon" src="/static/symbols/eye.svg">
            </button>
        </div>
    
        <!-- File browser is filled with file browser items by JS -->
        <div id="file-browser" class="grid gap-1em disable-usr-select pad-vert-0_5em">
        </div>
    
        <template id="file-browser-item"> 
            <!-- onclick filled with JS -->
            <div class="card selectable"> 
                <!-- src filled with JS -->
                <img class="icon" src=""> 
                <b><span class="txt-clip"> 
                    <!-- item name filled with JS --> 
                </span></b>
                <br><br>
                <span class="text-gray"> <!-- item size filled with JS --> </span>          
                <br>
                <span class="text-gray"> <!-- item date filled with JS --> </span> 
            </div>                
        </template> 
    
    
    </div>
{% endblock %}