{% extends "base.html" %}

{% block scripts %}
    <script src="{{ url_for('static', filename='getjson.js') }}"></script>
    <script src="{{ url_for('static', filename='picograph.js') }}"></script>
    <script src="{{ url_for('static', filename='updategraph.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container pad-vert-1em">
        
        <h1>System Monitor</h1>

        <div class="stacks gap-2em gam-1em-mobile">
            <div class="grid gap-2em gam-1em-mobile">
                <div class="card">
                    <p class="card-title">CPU Usage</p>
                    <canvas class="chart" id="cpugraph"></canvas>
                    <div>
                        <div id="cpulabels"></div>
                    </div>
                </div>

                <div class="card">
                    <p class="card-title">Memory Usage</p>
                    <canvas class="chart" id="memgraph"></canvas>
                    <div>
                        <div id="memlabels"></div>
                    </div>
                </div>
            </div>
        
            <div class="card">
                <p class="card-title">Network Usage</p>
                <canvas class="chart" id="netgraph"></canvas>
                <div id="netlabels"></div>
            </div>
    
            <div class="card">
                <p class="card-title">Disk Usage</p>
                <canvas class="chart" id="diskgraph"></canvas>
                <div id="disklabels"></div>
            </div>

        </div>

        <span class="padding"></span>

    </div>
{% endblock %}
